<div class="container">
	<div class="row">
		<h1 class="text-center">FUSD Speaking Indicator System</h1>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-2">
			<select name="selectPerson" id="selectPerson" ng-model='selectedPerson' class="form-control">
				<option ng-repeat='name in peopleDir' value="{{name}}">{{name}}</option>
			</select>
		</div>

		<div class="col-md-4">
			<input type="text" ng-model='selectedPerson' placeholder="Enter your name here if it's not in the list." class="form-control">
		</div>
		
		<button ng-click='add(selectedPerson)' id='add' class="btn btn-default">Add</button>
	</div>
	
	<hr>

	<div class="row">
		<h1>Speaking</h1>
	</div>
	<button ng-click='clearAll()'>Clear All</button>
	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Time</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='person in people'>
				<td>{{ person.name }}</td>
				<td>{{ person.time }}</td>
				<td><a href="#"  ng-click='remove($index)'>Remove me!</a></td>
			</tr>
		</tbody>
	</table>
	<br>
	<!-- {{people}} -->
	<div ng-if='people.length === 0'>
		<h3>No one!</h3>
	</div>
	<hr>
	<h3>History</h3>
	<button ng-click='clearHistory()'>Clear History</button>
	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Time</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='person in history'>
				<td>{{ person.name }}</td>
				<td>{{ person.time }}</td>
			</tr>
		</tbody>
	</table>
</div>