<div class="container"  on-enter='add(selectedPerson)' ng-init='retrievePW()'>
	<div class="row">
		<h1 class="text-center">FUSD Speaking Indicator System</h1>
	</div>

	<div class="row">
		<div class="text-center">
			Current channel: <strong>{{channel}}</strong>
		</div>
  	</div>
	
	<div class="container-fluid">
		<!-- needs better spacing fading in/out for alerts... -->
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div ng-show='showCCAlert' class="alert alert-success alert-dismissible" role="alert">
					<div class="text-center">
						You entered the <strong>{{channel}}</strong> channel.
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<hr> 
	 
  	<div class="row">
  		<div class="text-center">
			<form class="form-inline" ng-submit="goToNewChannel()">
				<label for="newChannel">New Channel: </label>
				<input type="text" id='newChannel' placeholder="New channel" ng-model='newchannel.name' class="form-control" ng-focus='newchannel.focus=true' ng-blur='newchannel.focus=false'>
				<input type="password" id='newChannelPW' placeholder="Password (optional)" ng-model='newchannel.pw' class="form-control" ng-focus='newchannel.focus=true' ng-blur='newchannel.focus=false'>
				<input type="submit" class="btn btn-primary" value="Go"></input>
			</form>
		</div>
  	</div>

	<hr>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-2">
			<select name="selectPerson" id="selectPerson" ng-model='selectedPerson' class="form-control">
				<option ng-repeat='name in peopleDir' value="{{name}}">{{name}}</option>
			</select>
		</div>

		<div class="col-md-4">
			<input type="text" ng-model='selectedPerson' id='name' placeholder="Enter your name here if it's not in the list." class="form-control">
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<button ng-click='add(selectedPerson)'id='add' class="btn btn-primary btn-block">Speak</button>	
		</div>
	</div>
	
	<hr>

	<div class="row">
		<div class="col-md-11">
			<h1>Speaking</h1>
		</div>
		<div class="col-md-1">
			<button ng-click='clearAll()' class="btn btn-danger btn-xs">Clear All</button>
		</div>
		
	</div>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<td>Name</td>
				<td>Time</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='person in people' ng-click='remove($index)'>
				<td>{{ person.name }}</td>
				<td>{{ person.time }}</td>
			</tr>
		</tbody>
	</table>
	<!-- {{people}} -->
	<div ng-if='people.length === 0'>
		<h3>No one!</h3>
	</div>

	<hr>
	<div class="row">
		<div class="col-md-11">
			<h3>History</h3>
		</div>
		<div class="col-md-1">
			<button ng-click='clearHistory()' class="btn btn-danger btn-xs">Clear History</button>
		</div>
	</div>
	
	
	<table class="table">
		<thead>
			<tr>
				<td>Name</td>
				<td>Time</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='person in history'>
				<td>{{ person.name }}</td>
				<td>{{ person.time }}</td>
			</tr>
		</tbody>
	</table>


	<hr>

	<div class="row">
		<p class="text-center">Hint: click a person's name to remove them from the list.</p>
	</div>

	<style>
	.modal-backdrop {
		opacity: 1 !important;
	}
	</style>
	<modal title="Enter password" visible='!authorized' class='text-center' id='myModal'>
	    <form role="form" ng-submit="checkPW()">
	      	<div class="form-group">
	        	<input type="password" class="form-control" id="password" placeholder="Password" ng-model='entered.pw'></input>
	    	</div>
	    	<div class="container-fluid">
	    		<!-- needs fading in/out for alerts... -->
	    		<div class="row">
					<div ng-show='showPWAlert' class="alert alert-danger alert-dismissible" role="alert">
						<div class="text-center">
							<strong>Incorrect password.</strong> Please try again.
						</div>
					</div>
				</div>
	    	</div>
		    
	      	<button type="submit" class="btn btn-default">Submit</button>
	    </form>
  </modal>
</div>
